%h4

%p
  %h5 Das Wetter:

  = image_tag @weather[:image] rescue nil
  %b= @weather[:status]
  %br
  %b= "#{@weather[:temp_current]}째"
  |
  = "(Feels like #{@weather[:temp_feels_like]}째)"
  %br
  = fa_icon 'long-arrow-up', text: "#{@weather[:temp_min]}째", style: 'color: #20c997;'
  |
  = fa_icon 'long-arrow-down', text: "#{@weather[:temp_max]}째", style: 'color: #f06595;'
